.my-swal {
  z-index: 99999;
  overflow-y: hidden !important;
  height: auto !important;
}

.swal2-shown {
  overflow: unset !important;
  padding-right: 0px !important;
}

.required {
  color: red;
  font-weight: bold;
}

.card {
  box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15) !important;
  border-radius: 10px !important;
}

.card-round-1 {
  box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15) !important;
  border-radius: 15px !important;
}

.custom-grid .MuiStack-root {
  padding-top: 0px !important;
}
